{
  "openapi": "3.1.0",
  "info": {
    "title": "D-Sports API",
    "description": "API for the D-Sports fan engagement platform (PWA backend). Authentication via Clerk Bearer token.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.d-sports.org",
      "description": "Production"
    },
    {
      "url": "http://localhost:3004",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/leaderboard": {
      "get": {
        "summary": "Get leaderboard",
        "description": "Returns leaderboard entries for the global leaderboard or a specific leaderboard/team. Requires authentication.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "description": "Fetch a specific leaderboard by ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "Fetch leaderboard for a specific team",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard with entries and current user ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leaderboard": { "type": "object" },
                    "leaderboardEntries": { "type": "array" },
                    "currentUserId": { "type": "string" },
                    "season": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": { "description": "Authentication required" }
        }
      }
    },
    "/api/locker-room": {
      "get": {
        "summary": "Get locker room posts",
        "description": "Get paginated locker room posts. Query params: page, limit, filter (trending|latest|following).",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "filter", "in": "query", "schema": { "type": "string", "enum": ["trending", "latest", "following"] } }
        ],
        "responses": {
          "200": { "description": "Paginated locker room posts" }
        }
      },
      "post": {
        "summary": "Create locker room post",
        "description": "Create a new post in the locker room. Body: { content: string, imageUrl?: string }.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string" },
                  "imageUrl": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created post" },
          "400": { "description": "Content is required" }
        }
      }
    },
    "/api/teams": {
      "get": {
        "summary": "List teams",
        "description": "List all teams with enriched stats (fans, totalPoints, rank, lastWinner).",
        "responses": {
          "200": {
            "description": "Teams with stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": { "teams": { "type": "array" } }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/packs": {
      "get": {
        "summary": "List active packs",
        "description": "List all active packs for the shop.",
        "responses": {
          "200": {
            "description": "Active packs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "packs": { "type": "array" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{id}/follow": {
      "delete": {
        "summary": "Unfollow team",
        "description": "Unfollow a team. Path param: team ID.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Unfollowed" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/webhooks/revenuecat": {
      "post": {
        "summary": "RevenueCat webhook",
        "description": "Handles RevenueCat purchase events (dsports-cash, Frontline Pass). Requires Bearer token matching REVENUECAT_WEBHOOK_SECRET.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "app_user_id": { "type": "string" },
                      "product_id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Webhook processed" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clerk session token. Use Bearer <token> in Authorization header."
      }
    }
  }
}
