{
  "openapi": "3.1.0",
  "info": {
    "title": "D-Sports API",
    "description": "Public API for the D-Sports fan engagement platform (PWA backend). Most endpoints require Clerk Bearer authentication.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://app.d-sports.org", "description": "Production" },
    { "url": "http://localhost:3004", "description": "Local development" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Auth", "description": "Authentication and token exchange" },
    { "name": "Logout", "description": "Session logout" },
    { "name": "Mobile auth", "description": "OAuth flow for native apps" },
    { "name": "Teams", "description": "Teams list and follow/unfollow" },
    { "name": "Leaderboard", "description": "Leaderboards, seasons, winners, stats" },
    { "name": "Locker room", "description": "Social feed posts, comments, reactions" },
    { "name": "Packs", "description": "Packs list, purchase, open" },
    { "name": "User", "description": "Profile, onboarding, follow, search, privacy" },
    { "name": "Quests", "description": "Quests and progress" },
    { "name": "Rewards", "description": "Rewards claim and redeem" },
    { "name": "Wallets", "description": "Wallets and coin prices" },
    { "name": "Checkout", "description": "Crypto and D-Sports Cash checkout" },
    { "name": "D-Sports Cash", "description": "D-Sports Cash balance" },
    { "name": "Dashboard", "description": "Dashboard stats and balance" },
    { "name": "Products", "description": "Products and packs catalog" },
    { "name": "Webhooks", "description": "RevenueCat webhook" },
    { "name": "Misc", "description": "Image proxy, crypto prices, upload, feedback" },
    { "name": "Auth and onboarding", "description": "Domain grouping for auth, profile, onboarding, and identity flows" },
    { "name": "Social and locker room", "description": "Domain grouping for social feed, follows, and community interactions" },
    { "name": "Gamification", "description": "Domain grouping for quests, leaderboards, points-facing outcomes, and rewards" },
    { "name": "Commerce and purchases", "description": "Domain grouping for checkout, cash balance, webhooks, and store purchase flows" },
    { "name": "Collectibles and packs", "description": "Domain grouping for pack lifecycle and collectible inventory" },
    { "name": "Wallet and web3", "description": "Domain grouping for wallet and crypto-support operations" },
    { "name": "Moderation and reporting", "description": "Domain grouping for user-facing report submission and moderation-adjacent endpoints" },
    { "name": "Platform and infrastructure", "description": "Domain grouping for utility, infrastructure, and platform support endpoints" }
  ],
  "paths": {
    "/api/auth/native-token": {
      "post": {
        "tags": ["Auth"],
        "summary": "Get native sign-in token",
        "description": "Generates a sign-in token for the authenticated user. Used by native app: pass Bearer token, get ticket for WebView sign-in.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ ticket, expiresAt }" },
          "401": { "description": "No authorization token provided" }
        }
      }
    },
    "/api/auth/validate": {
      "post": {
        "tags": ["Auth"],
        "summary": "Validate token",
        "description": "Validates the Bearer token.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ valid, ... }" },
          "401": { "description": "Invalid or missing token" }
        }
      }
    },
    "/api/logout": {
      "get": {
        "tags": ["Logout"],
        "summary": "Logout (redirect)",
        "description": "Redirects to login.",
        "security": [],
        "responses": { "302": { "description": "Redirect to /login" } }
      },
      "post": {
        "tags": ["Logout"],
        "summary": "Logout",
        "description": "Signs out the user.",
        "security": [],
        "responses": { "200": { "description": "{ success: true }" } }
      }
    },
    "/api/mobile/start": {
      "get": {
        "tags": ["Mobile auth"],
        "summary": "Start mobile OAuth",
        "description": "Redirects to mobile auth. Query: provider, redirect_uri.",
        "parameters": [
          { "name": "provider", "in": "query", "schema": { "type": "string" } },
          { "name": "redirect_uri", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [],
        "responses": { "302": { "description": "Redirect to /mobile-auth" } }
      }
    },
    "/api/mobile/callback": {
      "get": {
        "tags": ["Mobile auth"],
        "summary": "Mobile OAuth callback",
        "description": "Callback with redirect_uri. Returns token or error in redirect.",
        "parameters": [{ "name": "redirect_uri", "in": "query", "schema": { "type": "string" } }],
        "security": [],
        "responses": { "302": { "description": "Redirect with token or error" } }
      }
    },
    "/api/mobile/verify": {
      "get": {
        "tags": ["Mobile auth"],
        "summary": "Verify mobile token",
        "description": "Verifies Bearer token from native app.",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, user }" } }
      }
    },
    "/api/teams": {
      "get": {
        "tags": ["Teams"],
        "summary": "List teams",
        "description": "List all teams with enriched stats: fans, totalPoints, rank, lastWinner, isOfficial, league, themeColor.",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data: { teams, season } }" } }
      }
    },
    "/api/teams/followed": {
      "get": {
        "tags": ["Teams"],
        "summary": "List followed teams",
        "description": "Teams the authenticated user follows.",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/teams/{id}/follow": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get follow status",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Teams"],
        "summary": "Follow team",
        "description": "Body optional: { type?: 'followed' | 'fan' }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "type": { "type": "string", "enum": ["followed", "fan"] } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      },
      "delete": {
        "tags": ["Teams"],
        "summary": "Unfollow team",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/leaderboard": {
      "get": {
        "tags": ["Leaderboard", "Gamification"],
        "summary": "Get leaderboard",
        "description": "Returns leaderboard entries. Query: leaderboardId (number) or teamId (string); omit for global.",
        "parameters": [
          { "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } },
          { "name": "teamId", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ leaderboard, leaderboardEntries, currentUserId, season }" },
          "401": { "description": "Authentication required" },
          "404": { "description": "Leaderboard or user not found" }
        }
      }
    },
    "/api/leaderboard/stream": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Leaderboard SSE stream",
        "description": "Server-sent events stream. Query: leaderboardId.",
        "parameters": [{ "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "SSE stream" } }
      }
    },
    "/api/leaderboard/search": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Search leaderboard players",
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } }
        ],
        "security": [],
        "responses": { "200": { "description": "{ players, total, page, limit, totalPages }" } }
      }
    },
    "/api/leaderboard/seasons": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "List seasons",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ seasons, current }" } }
      }
    },
    "/api/leaderboard/winners": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Get winners",
        "parameters": [
          { "name": "seasonId", "in": "query", "schema": { "type": "string" } },
          { "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ winners }" } }
      }
    },
    "/api/leaderboard/stats": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Leaderboard stats",
        "description": "Total users, total points, last winner.",
        "security": [],
        "responses": { "200": { "description": "{ totalUsers, totalPoints, lastWinner }" } }
      }
    },
    "/api/locker-room": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Get locker room posts",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "filter", "in": "query", "schema": { "type": "string", "enum": ["trending", "latest", "following"] } }
        ],
        "security": [],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Locker room"],
        "summary": "Create locker room post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": { "content": { "type": "string" }, "imageUrl": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" }, "400": { "description": "Content is required" } }
      }
    },
    "/api/locker-room/stream": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Locker room SSE stream",
        "parameters": [{ "name": "filter", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "SSE stream" } }
      }
    },
    "/api/locker-room/{id}/comments": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Get post comments",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Locker room"],
        "summary": "Add comment",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["content"], "properties": { "content": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/locker-room/{id}/react": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Get reactions",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Locker room"],
        "summary": "Add reaction",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "type": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/packs": {
      "get": {
        "tags": ["Packs"],
        "summary": "List active packs",
        "security": [],
        "responses": { "200": { "description": "{ packs }" } }
      }
    },
    "/api/packs/{id}": {
      "get": {
        "tags": ["Packs"],
        "summary": "Get pack by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "Pack object" } }
      }
    },
    "/api/packs/{id}/purchase": {
      "post": {
        "tags": ["Packs"],
        "summary": "Start pack purchase",
        "description": "Body: { paymentMethod: 'crypto' | 'dsports-cash' }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "paymentMethod": { "type": "string", "enum": ["crypto", "dsports-cash"] } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ purchaseId }" } }
      },
      "put": {
        "tags": ["Packs"],
        "summary": "Complete pack purchase",
        "description": "Body: { purchaseId, paymentIntentId?, transactionHash? }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purchaseId": { "type": "string" },
                  "paymentIntentId": { "type": "string" },
                  "transactionHash": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/packs/{id}/open": {
      "post": {
        "tags": ["Packs"],
        "summary": "Open pack",
        "description": "Body: { purchaseId }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "purchaseId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ collectibles }" } }
      }
    },
    "/api/user": {
      "get": {
        "tags": ["User"],
        "summary": "Get user or suggestions",
        "description": "suggest=1: suggested users (auth). No id: current user (auth). id and/or handle: public profile. All responses use the standard envelope.",
        "parameters": [
          { "name": "suggest", "in": "query", "schema": { "type": "string" } },
          { "name": "id", "in": "query", "schema": { "type": "string" } },
          { "name": "handle", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: <user | suggestions[]> }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update user",
        "description": "Update current user fields. Accepts name, handle, location, favoriteSport, favoriteTeam, profileUrl, favoritePlayer, rivalTeam.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "handle": { "type": "string" },
                  "location": { "type": "string" },
                  "favoriteSport": { "type": "string" },
                  "favoriteTeam": { "type": "string" },
                  "favoritePlayer": { "type": "string" },
                  "rivalTeam": { "type": "string" },
                  "profileUrl": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: <updatedUser> }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/all": {
      "get": {
        "tags": ["User"],
        "summary": "List all onboarded users",
        "description": "Returns a paginated list of all onboarded users. Optionally excludes users the caller already follows.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 } },
          { "name": "excludeFollowing", "in": "query", "schema": { "type": "string", "enum": ["true", "false"] } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { users, total } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "429": { "description": "{ success: false, error, code: 'RATE_LIMITED' }" },
          "500": { "description": "{ success: false, error, code: 'FETCH_USERS_ERROR' }" }
        }
      }
    },
    "/api/user/check-username": {
      "get": {
        "tags": ["User"],
        "summary": "Check username availability",
        "description": "Returns whether the given username is available for registration. No authentication required.",
        "parameters": [
          { "name": "username", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "security": [],
        "responses": {
          "200": { "description": "{ success: true, data: { available: boolean } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/profile": {
      "patch": {
        "tags": ["User"],
        "summary": "Update profile",
        "description": "Update profile images and theme. Accepts bannerUrl, profileUrl, and userTheme.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "bannerUrl": { "type": "string" }, "profileUrl": { "type": "string" }, "userTheme": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { user } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Create/onboard profile",
        "description": "Onboarding payload. Creates the user profile, initialises leaderboard entry, and syncs quest points.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "handle": { "type": "string" },
                  "profileUrl": { "type": "string" },
                  "location": { "type": "string" },
                  "favoriteSport": { "type": "string" },
                  "favoriteTeam": { "type": "string" },
                  "favoritePlayer": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { user, updatedProfile, leaderboardEntry, pointsHistory, questSync } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "409": { "description": "{ success: false, error, code: 'CONFLICT' } — handle already taken" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/onboarding": {
      "get": {
        "tags": ["User"],
        "summary": "Get onboarding status",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { isComplete: boolean } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Complete onboarding",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { completed: true } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/follow": {
      "get": {
        "tags": ["User"],
        "summary": "Check follow status",
        "parameters": [{ "name": "targetUserId", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { isFollowing: boolean } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Follow user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["targetUserId"], "properties": { "targetUserId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { follow, counts: { targetUserFollowers, currentUserFollowing } } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' } — missing ID, self-follow, or already following" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "delete": {
        "tags": ["User"],
        "summary": "Unfollow user",
        "parameters": [{ "name": "targetUserId", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { counts: { targetUserFollowers, currentUserFollowing } } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/followers": {
      "get": {
        "tags": ["User"],
        "summary": "List followers/following",
        "description": "Returns a paginated list of followers or following for a user. Defaults to the authenticated user's followers.",
        "parameters": [
          { "name": "userId", "in": "query", "schema": { "type": "string" }, "description": "Target user ID. Defaults to authenticated user." },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["followers", "following"], "default": "followers" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { users, total, page, totalPages } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/search": {
      "get": {
        "tags": ["User"],
        "summary": "Search users",
        "description": "Full-text search across user name, handle, and bio. Returns paginated results with follower stats.",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { users, total, page, totalPages, query } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/top-users": {
      "get": {
        "tags": ["User"],
        "summary": "Top users",
        "description": "Returns top users by points.",
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: <topUsers> }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/recommended": {
      "get": {
        "tags": ["User"],
        "summary": "Recommended users",
        "description": "Returns recommended users based on shared interests (favorite team, sport, location). Each user includes a matchScore.",
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { users, total } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "429": { "description": "{ success: false, error, code: 'RATE_LIMITED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/toggle-star": {
      "post": {
        "tags": ["User"],
        "summary": "Toggle star",
        "description": "Star or un-star another user. Returns the new starred state.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["starReceiverId"], "properties": { "starReceiverId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { starred: boolean } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/star-status": {
      "get": {
        "tags": ["User"],
        "summary": "Get star status",
        "description": "Check whether the authenticated user has starred the given user.",
        "parameters": [{ "name": "userId", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { starred: boolean } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/isOnboarded": {
      "get": {
        "tags": ["User"],
        "summary": "Check onboarded",
        "description": "Returns whether a user has completed onboarding. Pass id for any user; omit for the authenticated user.",
        "parameters": [{ "name": "id", "in": "query", "schema": { "type": "string" } }],
        "security": [],
        "responses": {
          "200": { "description": "{ success: true, data: boolean }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/privacy": {
      "get": {
        "tags": ["User"],
        "summary": "Get privacy setting",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { isPrivate: boolean } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update privacy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["isPrivate"], "properties": { "isPrivate": { "type": "boolean" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { isPrivate: boolean } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/dev-card-settings": {
      "get": {
        "tags": ["User"],
        "summary": "Get dev card settings",
        "description": "Internal/debug card settings endpoint.",
        "x-hidden": true,
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { isDev, user, settings } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Update dev card settings",
        "description": "Internal/debug card settings mutation endpoint.",
        "x-hidden": true,
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { settings } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "403": { "description": "{ success: false, error, code: 'FORBIDDEN' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/collectibles": {
      "get": {
        "tags": ["User"],
        "summary": "Get user collectibles",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: <collectibles> }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/completed-quests": {
      "get": {
        "tags": ["User"],
        "summary": "Get completed quests",
        "description": "Returns completed quests for the given user (or the authenticated user). Each entry includes quest title, points earned, and category.",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { quests: [{ id, questTitle, stepName?, pointsEarned, completedAt, category }], totalPoints } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/delete": {
      "delete": {
        "tags": ["User"],
        "summary": "Delete account",
        "description": "Permanently deletes the authenticated user's account and all associated data.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { message } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/delete/dry-run": {
      "get": {
        "tags": ["User"],
        "summary": "Dry-run account deletion",
        "description": "Preview what would be deleted without actually deleting anything. Returns record counts per category.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { dryRun: true, message, user, wouldDelete, totalRecordsToDelete, clerkUserWouldBeDeleted } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/verify-password": {
      "post": {
        "tags": ["User"],
        "summary": "Verify password",
        "description": "Verifies the user's password. For OAuth-only users returns oauthOnly: true.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["password"], "properties": { "password": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { message, oauthOnly? } }" },
          "400": { "description": "{ success: false, error, code: 'VALIDATION_ERROR' }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/sync-clerk": {
      "get": {
        "tags": ["User"],
        "summary": "Sync Clerk user",
        "description": "Synchronises the local user record with Clerk. Returns the updated user with connected accounts.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { message, user: { id, email, handle, name, image, connectedAccounts } } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "404": { "description": "{ success: false, error, code: 'NOT_FOUND' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/packs": {
      "get": {
        "tags": ["User"],
        "summary": "Get user packs",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { packs } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/user/packs/opened": {
      "get": {
        "tags": ["User"],
        "summary": "Get opened packs",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success: true, data: { packs } }" },
          "401": { "description": "{ success: false, error, code: 'UNAUTHORIZED' }" },
          "500": { "description": "{ success: false, error, code: 'INTERNAL_ERROR' }" }
        }
      }
    },
    "/api/quests": {
      "get": {
        "tags": ["Quests", "Gamification"],
        "summary": "Get quests",
        "description": "Query: category (optional) for QuestCategory; else active quests.",
        "parameters": [{ "name": "category", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ quests, currentUserId }" }, "401": { "description": "Authentication required" } }
      }
    },
    "/api/quests/start": {
      "post": {
        "tags": ["Quests"],
        "summary": "Start quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "questId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ quest, success }" } }
      }
    },
    "/api/quests/complete-step": {
      "post": {
        "tags": ["Quests"],
        "summary": "Complete quest step",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questId": { "type": "string" },
                  "stepId": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, pointsAwarded, questCompleted }" } }
      }
    },
    "/api/quests/daily-visit": {
      "post": {
        "tags": ["Quests"],
        "summary": "Daily visit",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Daily visit result" } }
      }
    },
    "/api/quests/check-progress": {
      "post": {
        "tags": ["Quests"],
        "summary": "Check quest progress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "questType": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/rewards": {
      "get": {
        "tags": ["Rewards", "Gamification"],
        "summary": "List rewards",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ rewards, currentUserId }" } }
      }
    },
    "/api/rewards/claim": {
      "post": {
        "tags": ["Rewards"],
        "summary": "Claim reward",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "rewardId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ reward, success }" } }
      }
    },
    "/api/rewards/redeem": {
      "post": {
        "tags": ["Rewards"],
        "summary": "Redeem reward",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "rewardId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ reward, success }" } }
      }
    },
    "/api/wallets": {
      "get": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "List wallets",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ wallets }" } }
      },
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Add wallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": { "type": "string" },
                  "encryptedPrivateKey": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ wallet }" } }
      },
      "delete": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Remove wallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "address": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ message }" } }
      }
    },
    "/api/wallets/set-pin": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Set PIN",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/wallets/verify-pin": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Verify PIN",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/wallets/private-key": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Get private key",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/wallets/coin-prices": {
      "get": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Get coin prices",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Coin prices" } }
      }
    },
    "/api/checkout/crypto": {
      "post": {
        "tags": ["Checkout", "Commerce and purchases"],
        "summary": "Create crypto checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemId": { "type": "string" },
                  "itemType": { "type": "string" },
                  "quantity": { "type": "integer" },
                  "chain": { "type": "string" },
                  "useNativeToken": { "type": "boolean" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ paymentId, recipientAddress, amount, ... }" } }
      }
    },
    "/api/checkout/crypto/verify": {
      "post": {
        "tags": ["Checkout", "Commerce and purchases"],
        "summary": "Verify crypto payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": { "type": "string" },
                  "transactionHash": { "type": "string" },
                  "chain": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ verified, status }" } }
      }
    },
    "/api/checkout/dsports-cash": {
      "post": {
        "tags": ["Checkout", "Commerce and purchases"],
        "summary": "Checkout with D-Sports Cash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemId": { "type": "string" },
                  "itemType": { "type": "string" },
                  "quantity": { "type": "integer" },
                  "cartItems": { "type": "array" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ paymentId, remainingBalance }" } }
      }
    },
    "/api/dsports-cash": {
      "get": {
        "tags": ["D-Sports Cash", "Commerce and purchases"],
        "summary": "Get D-Sports Cash balance",
        "description": "Query: userId (admin impersonation).",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ dsportsCash }" } }
      }
    },
    "/api/dashboard": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard (public)",
        "security": [],
        "responses": { "200": { "description": "{ message }" } }
      },
      "post": {
        "tags": ["Dashboard"],
        "summary": "Dashboard (auth check)",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ userId, isAuthenticated }" } }
      }
    },
    "/api/dashboard/stats": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard stats",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Dashboard stats" } }
      }
    },
    "/api/dashboard/balance": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard balance",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Balance" } }
      }
    },
    "/api/dashboard/quests": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard quests",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Quests" } }
      }
    },
    "/api/products": {
      "get": {
        "tags": ["Products", "Commerce and purchases"],
        "summary": "List products",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "teamId", "in": "query", "schema": { "type": "string" } },
          { "name": "rarity", "in": "query", "schema": { "type": "string" } },
          { "name": "featured", "in": "query", "schema": { "type": "boolean" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [],
        "responses": { "200": { "description": "Products and packs" } }
      }
    },
    "/api/webhooks/revenuecat": {
      "post": {
        "tags": ["Webhooks", "Commerce and purchases"],
        "summary": "RevenueCat webhook",
        "description": "Handles RevenueCat purchase events. Use Authorization: Bearer with REVENUECAT_WEBHOOK_SECRET.",
        "security": [{ "webhookSecret": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "app_user_id": { "type": "string" },
                      "product_id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "{ received: true }" } }
      }
    },
    "/api/image-proxy": {
      "get": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Image proxy",
        "parameters": [{ "name": "url", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "Proxied image" } }
      }
    },
    "/api/crypto-prices": {
      "get": {
        "tags": ["Misc", "Wallet and web3"],
        "summary": "Crypto prices",
        "security": [],
        "responses": { "200": { "description": "Crypto prices" } }
      }
    },
    "/api/upload/banner": {
      "post": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Upload banner",
        "requestBody": { "content": { "multipart/form-data": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Banner URL" } }
      }
    },
    "/api/feedback/bug-report": {
      "post": {
        "tags": ["Misc", "Moderation and reporting"],
        "summary": "Submit bug report",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/feedback/native-crash": {
      "post": {
        "tags": ["Misc", "Moderation and reporting"],
        "summary": "Submit native crash report",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/sync-quest-points": {
      "post": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Sync quest points",
        "description": "Internal maintenance route for quest/points reconciliation.",
        "x-hidden": true,
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clerk session token. Use Authorization: Bearer <token>."
      },
      "webhookSecret": {
        "type": "http",
        "scheme": "bearer",
        "description": "REVENUECAT_WEBHOOK_SECRET for /api/webhooks/revenuecat."
      }
    }
  }
}
