{
  "openapi": "3.1.0",
  "info": {
    "title": "D-Sports API",
    "description": "Public API for the D-Sports fan engagement platform (PWA backend). Most endpoints require Clerk Bearer authentication.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://app.d-sports.org", "description": "Production" },
    { "url": "http://localhost:3004", "description": "Local development" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Auth", "description": "Authentication and token exchange" },
    { "name": "Logout", "description": "Session logout" },
    { "name": "Mobile auth", "description": "OAuth flow for native apps" },
    { "name": "Teams", "description": "Teams list and follow/unfollow" },
    { "name": "Leaderboard", "description": "Leaderboards, seasons, winners, stats" },
    { "name": "Locker room", "description": "Social feed posts, comments, reactions" },
    { "name": "Packs", "description": "Packs list, purchase, open" },
    { "name": "User", "description": "Profile, onboarding, follow, search, privacy" },
    { "name": "Quests", "description": "Quests and progress" },
    { "name": "Rewards", "description": "Rewards claim and redeem" },
    { "name": "Wallets", "description": "Wallets and coin prices" },
    { "name": "Checkout", "description": "Crypto and D-Sports Cash checkout" },
    { "name": "D-Sports Cash", "description": "D-Sports Cash balance" },
    { "name": "Dashboard", "description": "Dashboard stats and balance" },
    { "name": "Products", "description": "Products and packs catalog" },
    { "name": "Webhooks", "description": "RevenueCat webhook" },
    { "name": "Misc", "description": "Image proxy, crypto prices, upload, feedback" },
    { "name": "Auth and onboarding", "description": "Domain grouping for auth, profile, onboarding, and identity flows" },
    { "name": "Social and locker room", "description": "Domain grouping for social feed, follows, and community interactions" },
    { "name": "Gamification", "description": "Domain grouping for quests, leaderboards, points-facing outcomes, and rewards" },
    { "name": "Commerce and purchases", "description": "Domain grouping for checkout, cash balance, webhooks, and store purchase flows" },
    { "name": "Collectibles and packs", "description": "Domain grouping for pack lifecycle and collectible inventory" },
    { "name": "Wallet and web3", "description": "Domain grouping for wallet and crypto-support operations" },
    { "name": "Notifications", "description": "User notification inbox, read status, and archival" },
    { "name": "Games", "description": "Interactive games: Daily Spin, Guess the Player, Pick'em" },
    { "name": "Leagues", "description": "League metadata, colors, and team groupings" },
    { "name": "Moderation and reporting", "description": "Domain grouping for user-facing report submission and moderation-adjacent endpoints" },
    { "name": "Platform and infrastructure", "description": "Domain grouping for utility, infrastructure, and platform support endpoints" }
  ],
  "paths": {
    "/api/auth/native-token": {
      "post": {
        "tags": ["Auth"],
        "summary": "Get native sign-in token",
        "description": "Generates a sign-in token for the authenticated user. Used by native app: pass Bearer token, get ticket for WebView sign-in.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ ticket, expiresAt }" },
          "401": { "description": "No authorization token provided" }
        }
      }
    },
    "/api/auth/validate": {
      "post": {
        "tags": ["Auth"],
        "summary": "Validate token",
        "description": "Validates the Bearer token.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ valid, ... }" },
          "401": { "description": "Invalid or missing token" }
        }
      }
    },
    "/api/logout": {
      "get": {
        "tags": ["Logout"],
        "summary": "Logout (redirect)",
        "description": "Redirects to login.",
        "security": [],
        "responses": { "302": { "description": "Redirect to /login" } }
      },
      "post": {
        "tags": ["Logout"],
        "summary": "Logout",
        "description": "Signs out the user.",
        "security": [],
        "responses": { "200": { "description": "{ success: true }" } }
      }
    },
    "/api/mobile/start": {
      "get": {
        "tags": ["Mobile auth"],
        "summary": "Start mobile OAuth",
        "description": "Redirects to mobile auth. Query: provider, redirect_uri.",
        "parameters": [
          { "name": "provider", "in": "query", "schema": { "type": "string" } },
          { "name": "redirect_uri", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [],
        "responses": { "302": { "description": "Redirect to /mobile-auth" } }
      }
    },
    "/api/mobile/callback": {
      "get": {
        "tags": ["Mobile auth"],
        "summary": "Mobile OAuth callback",
        "description": "Callback with redirect_uri. Returns token or error in redirect.",
        "parameters": [{ "name": "redirect_uri", "in": "query", "schema": { "type": "string" } }],
        "security": [],
        "responses": { "302": { "description": "Redirect with token or error" } }
      }
    },
    "/api/mobile/verify": {
      "get": {
        "tags": ["Mobile auth"],
        "summary": "Verify mobile token",
        "description": "Verifies Bearer token from native app.",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, user }" } }
      }
    },
    "/api/teams": {
      "get": {
        "tags": ["Teams"],
        "summary": "List teams",
        "description": "List all teams with enriched stats: fans, totalPoints, rank, lastWinner, isOfficial, league, themeColor, leaderboardId (per-team board when provisioned), leagueInfo, leagueColors, plus _count { packs, collectibles }.",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data: { teams, season } }" } }
      }
    },
    "/api/teams/followed": {
      "get": {
        "tags": ["Teams"],
        "summary": "List followed teams",
        "description": "Teams the authenticated user follows.",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/teams/{id}/follow": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get follow status",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Teams"],
        "summary": "Follow team",
        "description": "Body optional: { type?: 'followed' | 'fan' }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "type": { "type": "string", "enum": ["followed", "fan"] } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      },
      "delete": {
        "tags": ["Teams"],
        "summary": "Unfollow team",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/leaderboard": {
      "get": {
        "tags": ["Leaderboard", "Gamification"],
        "summary": "Get leaderboard",
        "description": "Returns leaderboard entries. Query: leaderboardId (number) or teamId (string); omit for global.",
        "parameters": [
          { "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } },
          { "name": "teamId", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ leaderboard, leaderboardEntries, currentUserId, season }" },
          "401": { "description": "Authentication required" },
          "404": { "description": "Leaderboard or user not found" }
        }
      }
    },
    "/api/leaderboard/stream": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Leaderboard SSE stream",
        "description": "Server-sent events stream. Query: leaderboardId.",
        "parameters": [{ "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "SSE stream" } }
      }
    },
    "/api/leaderboard/search": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Search leaderboard players",
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } }
        ],
        "security": [],
        "responses": { "200": { "description": "{ players, total, page, limit, totalPages }" } }
      }
    },
    "/api/leaderboard/seasons": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "List seasons",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ seasons, current }" } }
      }
    },
    "/api/leaderboard/winners": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Get winners",
        "parameters": [
          { "name": "seasonId", "in": "query", "schema": { "type": "string" } },
          { "name": "leaderboardId", "in": "query", "schema": { "type": "integer" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ winners }" } }
      }
    },
    "/api/leaderboard/stats": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Leaderboard stats",
        "description": "Total users, total points, last winner.",
        "security": [],
        "responses": { "200": { "description": "{ totalUsers, totalPoints, lastWinner }" } }
      }
    },
    "/api/locker-room": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Get locker room posts",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "filter", "in": "query", "schema": { "type": "string", "enum": ["trending", "latest", "following"] } }
        ],
        "security": [],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Locker room"],
        "summary": "Create locker room post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": { "content": { "type": "string" }, "imageUrl": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" }, "400": { "description": "Content is required" } }
      }
    },
    "/api/locker-room/stream": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Locker room SSE stream",
        "parameters": [{ "name": "filter", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "SSE stream" } }
      }
    },
    "/api/locker-room/{id}/comments": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Get post comments",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Locker room"],
        "summary": "Add comment",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["content"], "properties": { "content": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/locker-room/{id}/react": {
      "get": {
        "tags": ["Locker room"],
        "summary": "Get reactions",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "{ success, data }" } }
      },
      "post": {
        "tags": ["Locker room"],
        "summary": "Add reaction",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "type": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/packs": {
      "get": {
        "tags": ["Packs"],
        "summary": "List active packs",
        "security": [],
        "responses": { "200": { "description": "{ packs }" } }
      }
    },
    "/api/packs/{id}": {
      "get": {
        "tags": ["Packs"],
        "summary": "Get pack by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "Pack object" } }
      }
    },
    "/api/packs/{id}/purchase": {
      "post": {
        "tags": ["Packs"],
        "summary": "Start pack purchase",
        "description": "Body: { paymentMethod: 'crypto' | 'dsports-cash' }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "paymentMethod": { "type": "string", "enum": ["crypto", "dsports-cash"] } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ purchaseId }" } }
      },
      "put": {
        "tags": ["Packs"],
        "summary": "Complete pack purchase",
        "description": "Body: { purchaseId, paymentIntentId?, transactionHash? }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purchaseId": { "type": "string" },
                  "paymentIntentId": { "type": "string" },
                  "transactionHash": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/packs/{id}/open": {
      "post": {
        "tags": ["Packs"],
        "summary": "Open pack",
        "description": "Body: { purchaseId }.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "purchaseId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ collectibles }" } }
      }
    },
    "/api/user": {
      "get": {
        "tags": ["User"],
        "summary": "Get user or suggestions",
        "description": "suggest=1: suggested users (auth). No id: current user (auth). id and/or handle: public profile.",
        "parameters": [
          { "name": "suggest", "in": "query", "schema": { "type": "string" } },
          { "name": "id", "in": "query", "schema": { "type": "string" } },
          { "name": "handle", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "User object or suggestions array" }, "401": { "description": "Unauthorized" } }
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update user",
        "description": "Body: user fields to update.",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Updated user" } }
      }
    },
    "/api/user/profile": {
      "get": { "tags": ["User"], "summary": "Get profile", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Profile" } } },
      "patch": {
        "tags": ["User"],
        "summary": "Update profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "bannerUrl": { "type": "string" }, "profileUrl": { "type": "string" }, "userTheme": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, user }" } }
      },
      "post": {
        "tags": ["User"],
        "summary": "Create/onboard profile",
        "description": "Onboarding payload.",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, user, ... }" } }
      }
    },
    "/api/user/onboarding": {
      "get": {
        "tags": ["User"],
        "summary": "Get onboarding status",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data: { isComplete } }" } }
      },
      "post": {
        "tags": ["User"],
        "summary": "Complete onboarding",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data: { completed } }" } }
      }
    },
    "/api/user/follow": {
      "get": {
        "tags": ["User"],
        "summary": "Check follow status",
        "parameters": [{ "name": "targetUserId", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ isFollowing }" } }
      },
      "post": {
        "tags": ["User"],
        "summary": "Follow user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["targetUserId"], "properties": { "targetUserId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, follow, counts }" } }
      },
      "delete": {
        "tags": ["User"],
        "summary": "Unfollow user",
        "parameters": [{ "name": "targetUserId", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, counts }" } }
      }
    },
    "/api/user/followers": {
      "get": {
        "tags": ["User"],
        "summary": "List followers/following",
        "parameters": [
          { "name": "userId", "in": "query", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ users, total, page, totalPages }" } }
      }
    },
    "/api/user/search": {
      "get": {
        "tags": ["User"],
        "summary": "Search users",
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ users, total, page, totalPages, query }" } }
      }
    },
    "/api/user/top-users": {
      "get": {
        "tags": ["User"],
        "summary": "Top users",
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, data }" } }
      }
    },
    "/api/user/recommended": {
      "get": {
        "tags": ["User"],
        "summary": "Recommended users",
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ users, total }" } }
      }
    },
    "/api/user/toggle-star": {
      "post": {
        "tags": ["User"],
        "summary": "Toggle star",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "starReceiverId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Toggle result" } }
      }
    },
    "/api/user/star-status": {
      "get": {
        "tags": ["User"],
        "summary": "Get star status",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Star status" } }
      }
    },
    "/api/user/isOnboarded": {
      "get": {
        "tags": ["User"],
        "summary": "Check onboarded",
        "parameters": [{ "name": "id", "in": "query", "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "true or false" } }
      }
    },
    "/api/user/privacy": {
      "get": {
        "tags": ["User"],
        "summary": "Get privacy setting",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ isPrivate }" } }
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update privacy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "isPrivate": { "type": "boolean" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, isPrivate }" } }
      }
    },
    "/api/user/dev-card-settings": {
      "get": {
        "tags": ["User"],
        "summary": "Get dev card settings",
        "description": "Internal/debug card settings endpoint.",
        "x-hidden": true,
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, isDev, user, settings }" } }
      },
      "post": {
        "tags": ["User"],
        "summary": "Update dev card settings",
        "description": "Internal/debug card settings mutation endpoint.",
        "x-hidden": true,
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/user/collectibles": {
      "get": {
        "tags": ["User"],
        "summary": "Get user collectibles",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Collectibles data" } }
      }
    },
    "/api/user/completed-quests": {
      "get": {
        "tags": ["User"],
        "summary": "Get completed quests",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ quests }" } }
      }
    },
    "/api/user/delete": {
      "delete": {
        "tags": ["User"],
        "summary": "Delete account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Optional password for explicit re-authentication prior to deletion."
                  }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { message } }" },
          "401": { "description": "Authentication or re-authentication required" }
        }
      }
    },
    "/api/user/delete/dry-run": {
      "get": {
        "tags": ["User"],
        "summary": "Dry-run account deletion",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Dry-run summary" } }
      }
    },
    "/api/user/verify-password": {
      "post": {
        "tags": ["User"],
        "summary": "Verify password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "password": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/user/sync-clerk": {
      "get": {
        "tags": ["User"],
        "summary": "Sync Clerk user",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, user }" } }
      }
    },
    "/api/user/packs": {
      "get": {
        "tags": ["User"],
        "summary": "Get user packs",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ packs }" } }
      }
    },
    "/api/user/packs/opened": {
      "get": {
        "tags": ["User"],
        "summary": "Get opened packs",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ packs }" } }
      }
    },
    "/api/quests": {
      "get": {
        "tags": ["Quests", "Gamification"],
        "summary": "Get quests",
        "description": "Query: category (optional) for QuestCategory; else active quests.",
        "parameters": [{ "name": "category", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ quests, currentUserId }" }, "401": { "description": "Authentication required" } }
      }
    },
    "/api/quests/start": {
      "post": {
        "tags": ["Quests"],
        "summary": "Start quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "questId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ quest, success }" } }
      }
    },
    "/api/quests/complete-step": {
      "post": {
        "tags": ["Quests"],
        "summary": "Complete quest step",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questId": { "type": "string" },
                  "stepId": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success, pointsAwarded, questCompleted }" } }
      }
    },
    "/api/quests/daily-visit": {
      "post": {
        "tags": ["Quests"],
        "summary": "Daily visit",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Daily visit result" } }
      }
    },
    "/api/quests/check-progress": {
      "post": {
        "tags": ["Quests"],
        "summary": "Check quest progress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "questType": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/rewards": {
      "get": {
        "tags": ["Rewards", "Gamification"],
        "summary": "List rewards",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ rewards, currentUserId }" } }
      }
    },
    "/api/rewards/claim": {
      "post": {
        "tags": ["Rewards"],
        "summary": "Claim reward",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "rewardId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ reward, success }" } }
      }
    },
    "/api/rewards/redeem": {
      "post": {
        "tags": ["Rewards"],
        "summary": "Redeem reward",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "rewardId": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ reward, success }" } }
      }
    },
    "/api/wallets": {
      "get": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "List wallets",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ wallets }" } }
      },
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Add wallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": { "type": "string" },
                  "encryptedPrivateKey": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ wallet }" } }
      },
      "delete": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Remove wallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "address": { "type": "string" } } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ message }" } }
      }
    },
    "/api/wallets/set-pin": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Set PIN",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/wallets/verify-pin": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Verify PIN",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/wallets/private-key": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Get private key",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/wallets/coin-prices": {
      "get": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Get coin prices",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Coin prices" } }
      }
    },
    "/api/checkout/crypto": {
      "post": {
        "tags": ["Checkout", "Commerce and purchases"],
        "summary": "Create crypto checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemId": { "type": "string" },
                  "itemType": { "type": "string" },
                  "quantity": { "type": "integer" },
                  "chain": { "type": "string" },
                  "useNativeToken": { "type": "boolean" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ paymentId, recipientAddress, amount, ... }" } }
      }
    },
    "/api/checkout/crypto/verify": {
      "post": {
        "tags": ["Checkout", "Commerce and purchases"],
        "summary": "Verify crypto payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": { "type": "string" },
                  "transactionHash": { "type": "string" },
                  "chain": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ verified, status }" } }
      }
    },
    "/api/checkout/dsports-cash": {
      "post": {
        "tags": ["Checkout", "Commerce and purchases"],
        "summary": "Checkout with D-Sports Cash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemId": { "type": "string" },
                  "itemType": { "type": "string" },
                  "quantity": { "type": "integer" },
                  "cartItems": { "type": "array" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ paymentId, remainingBalance }" } }
      }
    },
    "/api/dsports-cash": {
      "get": {
        "tags": ["D-Sports Cash", "Commerce and purchases"],
        "summary": "Get D-Sports Cash balance",
        "description": "Query: userId (admin impersonation).",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ dsportsCash }" } }
      }
    },
    "/api/dashboard": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard (public)",
        "security": [],
        "responses": { "200": { "description": "{ message }" } }
      },
      "post": {
        "tags": ["Dashboard"],
        "summary": "Dashboard (auth check)",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "{ userId, isAuthenticated }" } }
      }
    },
    "/api/dashboard/stats": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard stats",
        "parameters": [{ "name": "userId", "in": "query", "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Dashboard stats" } }
      }
    },
    "/api/dashboard/balance": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard balance",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Balance" } }
      }
    },
    "/api/dashboard/quests": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Dashboard quests",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Quests" } }
      }
    },
    "/api/products": {
      "get": {
        "tags": ["Products", "Commerce and purchases"],
        "summary": "List products",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "teamId", "in": "query", "schema": { "type": "string" } },
          { "name": "rarity", "in": "query", "schema": { "type": "string" } },
          { "name": "featured", "in": "query", "schema": { "type": "boolean" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [],
        "responses": { "200": { "description": "Products and packs" } }
      }
    },
    "/api/webhooks/revenuecat": {
      "post": {
        "tags": ["Webhooks", "Commerce and purchases"],
        "summary": "RevenueCat webhook",
        "description": "Handles RevenueCat purchase events. Use Authorization: Bearer with REVENUECAT_WEBHOOK_SECRET.",
        "security": [{ "webhookSecret": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "app_user_id": { "type": "string" },
                      "product_id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "{ received: true }" } }
      }
    },
    "/api/image-proxy": {
      "get": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Image proxy",
        "parameters": [{ "name": "url", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "Proxied image" } }
      }
    },
    "/api/crypto-prices": {
      "get": {
        "tags": ["Misc", "Wallet and web3"],
        "summary": "Crypto prices",
        "security": [],
        "responses": { "200": { "description": "Crypto prices" } }
      }
    },
    "/api/upload/banner": {
      "post": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Upload banner",
        "requestBody": { "content": { "multipart/form-data": { "schema": { "type": "object" } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Banner URL" } }
      }
    },
    "/api/feedback/bug-report": {
      "post": {
        "tags": ["Misc", "Moderation and reporting"],
        "summary": "Submit bug report",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/feedback/native-crash": {
      "post": {
        "tags": ["Misc", "Moderation and reporting"],
        "summary": "Submit native crash report",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [],
        "responses": { "200": { "description": "{ success }" } }
      }
    },
    "/api/sync-quest-points": {
      "post": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Sync quest points",
        "description": "Internal maintenance route for quest/points reconciliation.",
        "x-hidden": true,
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/notifications": {
      "get": {
        "tags": ["Notifications", "Platform and infrastructure"],
        "summary": "List notifications",
        "description": "Paginated notification inbox for the authenticated user. Filterable by read status.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 25 } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["UNREAD", "READ", "ARCHIVED", "ALL"], "default": "ALL" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { notifications, unreadCount, pagination } }" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/notifications/read-all": {
      "patch": {
        "tags": ["Notifications"],
        "summary": "Mark all notifications read",
        "description": "Marks every unread notification as read for the authenticated user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { updated, readAt } }" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/notifications/{notificationId}/read": {
      "patch": {
        "tags": ["Notifications"],
        "summary": "Mark notification read",
        "description": "Mark a single notification as read. Archived notifications keep their ARCHIVED status but readAt is set.",
        "parameters": [{ "name": "notificationId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <notification> }" },
          "400": { "description": "notificationId required" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Notification not found" }
        }
      }
    },
    "/api/notifications/{notificationId}/archive": {
      "patch": {
        "tags": ["Notifications"],
        "summary": "Archive notification",
        "description": "Archive a single notification. Also sets readAt if not already read.",
        "parameters": [{ "name": "notificationId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <notification> }" },
          "400": { "description": "notificationId required" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Notification not found" }
        }
      }
    },
    "/api/games/daily-spin/reward": {
      "post": {
        "tags": ["Games", "Gamification"],
        "summary": "Claim daily spin reward",
        "description": "Claim a daily spin reward. Coin rewards: 150 points (max 5/day). Weekly set rewards: 500 points (once per week). Idempotent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rewardType"],
                "properties": {
                  "rewardType": { "type": "string", "enum": ["coin", "weekly_set"] },
                  "weekStartDate": { "type": "string", "description": "YYYY-MM-DD, required when rewardType is weekly_set" },
                  "landedSegmentId": { "type": "string" },
                  "teamId": { "type": "string" },
                  "leaderboardId": { "type": "integer" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { pointsAwarded, rewardType, alreadyAwarded, leaderboardUpdates } }" },
          "400": { "description": "Invalid payload" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/games/guess-player/session/start": {
      "post": {
        "tags": ["Games", "Gamification"],
        "summary": "Start guess-player session",
        "description": "Start a new Guess the Player game session. Returns a session with clue data.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <session with clues> }" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/games/guess-player/session/guess": {
      "post": {
        "tags": ["Games", "Gamification"],
        "summary": "Submit guess",
        "description": "Submit a guess for an active Guess the Player session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId", "guess"],
                "properties": {
                  "sessionId": { "type": "string" },
                  "guess": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <guess result> }" },
          "400": { "description": "Invalid guess payload" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Session not found" }
        }
      }
    },
    "/api/games/guess-player/session/invalidate": {
      "post": {
        "tags": ["Games", "Gamification"],
        "summary": "Invalidate guess-player session",
        "description": "Abandon an active Guess the Player session. The reason is stored for analytics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId", "reason"],
                "properties": {
                  "sessionId": { "type": "string" },
                  "reason": { "type": "string", "maxLength": 80 }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <invalidation result> }" },
          "400": { "description": "Invalid payload" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Session not found" }
        }
      }
    },
    "/api/games/pick-em/players": {
      "get": {
        "tags": ["Games", "Gamification"],
        "summary": "List Pick'em players",
        "description": "Returns players available for the Pick'em game with tier, stats, and images.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { players } }" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/user/settings": {
      "get": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Get user settings",
        "description": "Returns the current user's settings (privacy, appearance, accessibility, notifications). Creates defaults if none exist.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <UserSettings> }" },
          "401": { "description": "Unauthorized" }
        }
      },
      "patch": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Update user settings",
        "description": "Update any subset of user settings. Changing privateProfile also syncs the User model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "privateProfile": { "type": "boolean" },
                  "showOnlineStatus": { "type": "boolean" },
                  "allowDirectMessages": { "type": "boolean" },
                  "appearanceTheme": { "type": "string" },
                  "reduceMotion": { "type": "boolean" },
                  "largerText": { "type": "boolean" },
                  "highContrast": { "type": "boolean" },
                  "screenReaderSupport": { "type": "boolean" },
                  "hapticFeedback": { "type": "boolean" },
                  "pushEnabled": { "type": "boolean" },
                  "notifyMentions": { "type": "boolean" },
                  "notifyLikes": { "type": "boolean" },
                  "notifyComments": { "type": "boolean" },
                  "notifyFollows": { "type": "boolean" },
                  "notifyRoomInvites": { "type": "boolean" },
                  "dataSaverMode": { "type": "boolean" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <updated UserSettings> }" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "User not found" }
        }
      }
    },
    "/api/user/blocks": {
      "get": {
        "tags": ["User", "Moderation and reporting"],
        "summary": "List blocked users",
        "description": "Returns the authenticated user's block list with public profile info.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: [{ id, createdAt, user }] }" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["User", "Moderation and reporting"],
        "summary": "Block user",
        "description": "Block a user. Idempotent via upsert.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["blockedUserId"],
                "properties": { "blockedUserId": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: <UserBlock> }" },
          "400": { "description": "blockedUserId required or cannot block yourself" },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "tags": ["User", "Moderation and reporting"],
        "summary": "Unblock user",
        "description": "Remove a user from block list. Accepts blockedUserId via query or body.",
        "parameters": [{ "name": "blockedUserId", "in": "query", "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "blockedUserId": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { success: true } }" },
          "400": { "description": "blockedUserId required" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/user/data-export": {
      "get": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "List data export requests",
        "description": "Returns up to 50 most recent data export requests for the authenticated user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: [<DataExportRequest>] }" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Request data export",
        "description": "Create a GDPR-style data export request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "reason": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: <DataExportRequest> }" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/user/push-subscriptions": {
      "get": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "List push subscriptions",
        "description": "Returns all push notification device registrations for the authenticated user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: [<UserPushSubscription>] }" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Register push subscription",
        "description": "Upsert a push subscription keyed by (userId, platform). Also updates lastSeenAt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["platform"],
                "properties": {
                  "platform": { "type": "string", "description": "e.g. ios, android, web" },
                  "provider": { "type": "string", "default": "onesignal" },
                  "externalSubscriptionId": { "type": "string" },
                  "pushToken": { "type": "string" },
                  "isEnabled": { "type": "boolean", "default": true },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: <UserPushSubscription> }" },
          "400": { "description": "platform required" },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Remove push subscription",
        "description": "Remove all push subscriptions for the given platform.",
        "parameters": [{ "name": "platform", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { success: true } }" },
          "400": { "description": "platform required" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/user/check-username": {
      "get": {
        "tags": ["User", "Auth and onboarding"],
        "summary": "Check username availability",
        "description": "Case-insensitive check whether a handle is available. Used during onboarding and profile editing.",
        "parameters": [{ "name": "username", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": {
          "200": { "description": "{ success, data: { available: boolean } }" },
          "400": { "description": "Username is required" }
        }
      }
    },
    "/api/user/all": {
      "get": {
        "tags": ["User", "Social and locker room"],
        "summary": "List community users",
        "description": "Paginated list of all onboarded users (newest first). Excludes the current user. Rate-limited to 30 req/min.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "excludeFollowing", "in": "query", "schema": { "type": "string", "description": "Set to 'true' to exclude already-followed users" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { users, total } }" },
          "401": { "description": "Unauthorized" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/api/user/support/tickets": {
      "get": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "List support tickets",
        "description": "Returns the authenticated user's support tickets with message counts.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: [<SupportTicket>] }" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Create support ticket",
        "description": "Create a new support ticket and send an email notification to the support team.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subject", "message"],
                "properties": {
                  "subject": { "type": "string" },
                  "message": { "type": "string" },
                  "category": { "type": "string", "enum": ["support", "bug", "report", "account", "billing", "other"], "default": "support" },
                  "priority": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "URGENT"], "default": "MEDIUM" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: <SupportTicket with initial message> }" },
          "400": { "description": "subject and message required" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/user/support/tickets/{id}/messages": {
      "get": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Get ticket messages",
        "description": "Retrieve the message thread for a support ticket owned by the authenticated user.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: [<SupportTicketMessage>] }" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Ticket not found" }
        }
      },
      "post": {
        "tags": ["User", "Platform and infrastructure"],
        "summary": "Reply to ticket",
        "description": "Add a reply to a support ticket. Reopens the ticket if it was closed.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": { "message": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: <SupportTicketMessage> }" },
          "400": { "description": "message required" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Ticket not found" }
        }
      }
    },
    "/api/locker-room/{id}": {
      "get": {
        "tags": ["Locker room", "Social and locker room"],
        "summary": "Get post by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": {
          "200": { "description": "{ success, data: <post> }" },
          "404": { "description": "Post not found" }
        }
      },
      "put": {
        "tags": ["Locker room", "Social and locker room"],
        "summary": "Edit post",
        "description": "Edit a locker-room post. Author only. Max 280 characters.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": { "content": { "type": "string", "maxLength": 280 } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <updated post> }" },
          "400": { "description": "Content required or exceeds 280 chars" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Author only" }
        }
      },
      "delete": {
        "tags": ["Locker room", "Social and locker room"],
        "summary": "Delete post",
        "description": "Delete a locker-room post. Author only.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { ok: true } }" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Author only" },
          "404": { "description": "Post not found" }
        }
      }
    },
    "/api/locker-room/{id}/comments/{commentId}": {
      "put": {
        "tags": ["Locker room", "Social and locker room"],
        "summary": "Edit comment",
        "description": "Edit a comment on a locker-room post. Author only.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "commentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": { "content": { "type": "string" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: <updated comment> }" },
          "400": { "description": "Content required" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Author only" }
        }
      },
      "delete": {
        "tags": ["Locker room", "Social and locker room"],
        "summary": "Delete comment",
        "description": "Delete a comment on a locker-room post. Author only.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "commentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { ok: true } }" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Author only" },
          "404": { "description": "Comment not found" }
        }
      }
    },
    "/api/wallets/link-challenge": {
      "get": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Get wallet link challenge",
        "description": "Generate a one-time SIWE-style challenge message for linking an external wallet.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { challengeId, message, expiresAt } }" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/wallets/link-external": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Link external wallet",
        "description": "Verify a signed challenge and link an external wallet to the authenticated user's account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["challengeId", "message", "signature", "address", "provider"],
                "properties": {
                  "challengeId": { "type": "string" },
                  "message": { "type": "string" },
                  "signature": { "type": "string" },
                  "address": { "type": "string" },
                  "provider": { "type": "string", "description": "e.g. metamask, walletconnect" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: { wallet } }" },
          "400": { "description": "Missing fields, signature expired/mismatch, or address already linked" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/packs/{id}/odds": {
      "get": {
        "tags": ["Packs", "Collectibles and packs"],
        "summary": "Get pack odds",
        "description": "Canonical odds disclosure for a pack. Returns drop rates, expected outcomes, and guarantee information.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": {
          "200": { "description": "{ success, data: { packId, packName, packTier, dropRates, expectedOutcomes, guarantee, isOpenable, generatedAt } }" },
          "404": { "description": "Pack not found" }
        }
      }
    },
    "/api/moderation/reports": {
      "post": {
        "tags": ["Moderation and reporting"],
        "summary": "Submit moderation report",
        "description": "Report a user, post, or comment. At least one target (targetUserId, targetPostId, or targetCommentId) is required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "reason"],
                "properties": {
                  "type": { "type": "string", "enum": ["INAPPROPRIATE_NAME", "INAPPROPRIATE_CONTENT", "SPAM", "HARASSMENT", "OTHER"] },
                  "reason": { "type": "string" },
                  "details": { "type": "string" },
                  "targetUserId": { "type": "string" },
                  "targetPostId": { "type": "string" },
                  "targetCommentId": { "type": "string" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: { id, status } }" },
          "400": { "description": "Invalid report type, reason required, or no target specified" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/leagues": {
      "get": {
        "tags": ["Leagues", "Teams"],
        "summary": "List leagues",
        "description": "List all leagues with metadata, colors, and team counts. Optionally filtered by country.",
        "parameters": [{ "name": "country", "in": "query", "schema": { "type": "string", "description": "Case-insensitive country filter" } }],
        "security": [],
        "responses": {
          "200": { "description": "{ success, data: { leagues } }" }
        }
      }
    },
    "/api/accessibility": {
      "get": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Accessibility features",
        "description": "Public endpoint returning the accessibility feature support matrix for native app and marketing site.",
        "security": [],
        "responses": {
          "200": { "description": "{ success, data: { version, lastUpdated, features } }" }
        }
      }
    },
    "/api/upload/profile": {
      "post": {
        "tags": ["Misc", "Platform and infrastructure"],
        "summary": "Upload profile image",
        "description": "Upload a profile image (jpeg, png, webp, gif; max 5 MB). Updates the user's profileUrl and garbage-collects the old image.",
        "requestBody": { "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "{ success, data: { url } }" },
          "400": { "description": "No file, invalid type, or file too large" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/product_entitlement_mapping": {
      "get": {
        "tags": ["Products", "Commerce and purchases"],
        "summary": "Product entitlement mapping",
        "description": "Returns the RevenueCat product-to-entitlement mapping generated from D-Sports Cash tiers and the Frontline Pass.",
        "security": [],
        "responses": {
          "200": { "description": "{ success, data: { mappings } }" }
        }
      }
    },
    "/api/thirdweb-proxy": {
      "get": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Thirdweb proxy (GET)",
        "description": "CORS proxy for whitelisted Thirdweb RPC and embedded-wallet endpoints.",
        "parameters": [{ "name": "url", "in": "query", "required": true, "schema": { "type": "string" } }],
        "security": [],
        "responses": { "200": { "description": "Proxied response" }, "400": { "description": "Invalid or missing url" } }
      },
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Thirdweb proxy (POST)",
        "description": "CORS proxy for whitelisted Thirdweb RPC and embedded-wallet endpoints.",
        "parameters": [{ "name": "url", "in": "query", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "security": [],
        "responses": { "200": { "description": "Proxied response" }, "400": { "description": "Invalid or missing url" } }
      }
    },
    "/api/thirdweb-link": {
      "post": {
        "tags": ["Wallets", "Wallet and web3"],
        "summary": "Create Thirdweb link",
        "description": "Create a Thirdweb link using the authenticated user's Clerk session. Returns userId and email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["payload"],
                "properties": { "payload": { "description": "Thirdweb link payload" } }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": { "description": "{ success, data: { userId, email } }" },
          "400": { "description": "Payload is required" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/webhooks/leagues-sync": {
      "post": {
        "tags": ["Webhooks", "Platform and infrastructure"],
        "summary": "Leagues sync webhook",
        "description": "Webhook triggered by GitHub Actions when changes are pushed to the leagues data repository. Validates x-webhook-secret header.",
        "security": [{ "webhookSecret": [] }],
        "responses": {
          "200": { "description": "{ success, data: <sync result> }" },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clerk session token. Use Authorization: Bearer <token>."
      },
      "webhookSecret": {
        "type": "http",
        "scheme": "bearer",
        "description": "REVENUECAT_WEBHOOK_SECRET for /api/webhooks/revenuecat."
      }
    }
  }
}
