{
  "openapi": "3.1.0",
  "info": {
    "title": "D-Sports API",
    "description": "Public API for the D-Sports fan engagement platform (PWA backend). Most endpoints require Clerk Bearer authentication.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.d-sports.org",
      "description": "Production"
    },
    {
      "url": "http://localhost:3004",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and token exchange"
    },
    {
      "name": "Logout",
      "description": "Session logout"
    },
    {
      "name": "Mobile auth",
      "description": "OAuth flow for native apps"
    },
    {
      "name": "Teams",
      "description": "Teams list and follow/unfollow"
    },
    {
      "name": "Leaderboard",
      "description": "Leaderboards, seasons, winners, stats"
    },
    {
      "name": "Locker room",
      "description": "Social feed posts, comments, reactions"
    },
    {
      "name": "Packs",
      "description": "Packs list, purchase, open"
    },
    {
      "name": "User",
      "description": "Profile, onboarding, follow, search, privacy"
    },
    {
      "name": "Quests",
      "description": "Quests and progress"
    },
    {
      "name": "Rewards",
      "description": "Rewards claim and redeem"
    },
    {
      "name": "Wallets",
      "description": "Wallets and coin prices"
    },
    {
      "name": "Checkout",
      "description": "Crypto and D-Sports Cash checkout"
    },
    {
      "name": "D-Sports Cash",
      "description": "D-Sports Cash balance"
    },
    {
      "name": "Dashboard",
      "description": "Dashboard stats and balance"
    },
    {
      "name": "Products",
      "description": "Products and packs catalog"
    },
    {
      "name": "Webhooks",
      "description": "RevenueCat webhook"
    },
    {
      "name": "Misc",
      "description": "Image proxy, crypto prices, upload, feedback"
    },
    {
      "name": "Auth and onboarding",
      "description": "Domain grouping for auth, profile, onboarding, and identity flows"
    },
    {
      "name": "Social and locker room",
      "description": "Domain grouping for social feed, follows, and community interactions"
    },
    {
      "name": "Gamification",
      "description": "Domain grouping for quests, leaderboards, points-facing outcomes, and rewards"
    },
    {
      "name": "Commerce and purchases",
      "description": "Domain grouping for checkout, cash balance, webhooks, and store purchase flows"
    },
    {
      "name": "Collectibles and packs",
      "description": "Domain grouping for pack lifecycle and collectible inventory"
    },
    {
      "name": "Wallet and web3",
      "description": "Domain grouping for wallet and crypto-support operations"
    },
    {
      "name": "Moderation and reporting",
      "description": "Domain grouping for user-facing report submission and moderation-adjacent endpoints"
    },
    {
      "name": "Platform and infrastructure",
      "description": "Domain grouping for utility, infrastructure, and platform support endpoints"
    },
    {
      "name": "Rep",
      "description": "Fan / Club / Player / Direct Rep earn, breakdown, and ledger"
    },
    {
      "name": "Engage",
      "description": "Engage-domain Rep and related mobile contracts"
    },
    {
      "name": "Admin",
      "description": "Staff-only admin operations"
    },
    {
      "name": "Binders",
      "description": "Digital binder inventory, PIN, and card transfer"
    },
    {
      "name": "Games",
      "description": "Team mini-game catalog and play routes"
    },
    {
      "name": "Game Engine",
      "description": "Engage native catalog and server-authoritative daily session lifecycle"
    },
    {
      "name": "Events",
      "description": "Game schedule, Game Center, chat, presence, and ratings"
    },
    {
      "name": "Notifications",
      "description": "Authenticated in-app inbox"
    },
    {
      "name": "Config",
      "description": "Public catalogs and support matrices"
    },
    {
      "name": "Discovery",
      "description": "Suggested fans and teams"
    },
    {
      "name": "Leagues",
      "description": "League metadata and branding"
    },
    {
      "name": "Marketplace",
      "description": "Listings, bids, offers, cart, and shop merchandising"
    },
    {
      "name": "KYC",
      "description": "Identity verification session helpers"
    }
  ],
  "paths": {
    "/api/accessibility": {
      "get": {
        "tags": [
          "Config"
        ],
        "summary": "Accessibility support matrix",
        "description": "Public Apple Nutrition Label-style feature support matrix for native and marketing.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/admin/users/{userId}/rep": {
      "post": {
        "tags": [
          "Admin",
          "Rep"
        ],
        "summary": "Grant D-Sports Direct Rep to a user",
        "description": "isAdmin only. Body: { amount: integer 1–100000, reason?: string max 200 }. Each POST is a new grant (server-generated idempotency key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ userId, amount, reason, entryId }"
          },
          "400": {
            "description": "Invalid amount or reason"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Admin access required"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Failed to record Direct Rep grant"
          }
        }
      }
    },
    "/api/auth/native-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get native sign-in token",
        "description": "Generates a sign-in token for the authenticated user. Used by native app: pass Bearer token, get ticket for WebView sign-in.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ ticket, expiresAt }"
          },
          "401": {
            "description": "No authorization token provided"
          }
        }
      }
    },
    "/api/auth/validate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Validate token",
        "description": "Validates the Bearer token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ valid, ... }"
          },
          "401": {
            "description": "Invalid or missing token"
          }
        }
      }
    },
    "/api/binders": {
      "get": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "List authenticated user's binders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletAddress",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ binders }"
          }
        }
      },
      "post": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Create a binder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "sport",
                  "walletAddress"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "sport": {
                    "type": "string"
                  },
                  "walletAddress": {
                    "type": "string"
                  },
                  "pin": {
                    "type": "string",
                    "description": "Binder PIN, not the wallet PIN"
                  },
                  "coverImage": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ binder }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          }
        }
      }
    },
    "/api/binders/{id}": {
      "get": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Get binder contents grouped by shelf",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ binder, shelves }"
          }
        }
      },
      "patch": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Rename binder or update cover",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ binder }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          }
        }
      },
      "delete": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Delete binder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ success: true }"
          }
        }
      }
    },
    "/api/binders/{id}/card-order": {
      "put": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Persist binder card display order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "order"
                ],
                "properties": {
                  "order": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "BinderCard ids"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ success: true }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          }
        }
      }
    },
    "/api/binders/{id}/cards": {
      "put": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Assign or transfer cards into a binder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idempotencyKey",
                  "items"
                ],
                "properties": {
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "required": [
                        "collectibleId",
                        "amount"
                      ],
                      "properties": {
                        "collectibleId": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "fromBinderId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ results: [{ collectibleId, ok, error? }] }"
          }
        }
      }
    },
    "/api/binders/{id}/transfer-card": {
      "post": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Transfer a card to another binder",
        "description": "Path id is the source binder. Binder PIN ≠ wallet PIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "collectibleId",
                  "toBinderId"
                ],
                "properties": {
                  "collectibleId": {
                    "type": "string"
                  },
                  "toBinderId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ success: true }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          }
        }
      }
    },
    "/api/binders/{id}/verify-pin": {
      "post": {
        "tags": [
          "Binders",
          "Collectibles and packs"
        ],
        "summary": "Verify binder PIN",
        "description": "Returns { granted }. Binder PIN is not the wallet PIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pin"
                ],
                "properties": {
                  "pin": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ granted: boolean }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          }
        }
      }
    },
    "/api/checkout/crypto": {
      "post": {
        "tags": [
          "Checkout",
          "Commerce and purchases"
        ],
        "summary": "Create crypto checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemId": {
                    "type": "string"
                  },
                  "itemType": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "chain": {
                    "type": "string"
                  },
                  "useNativeToken": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ paymentId, recipientAddress, amount, ... }"
          }
        }
      }
    },
    "/api/checkout/crypto/verify": {
      "post": {
        "tags": [
          "Checkout",
          "Commerce and purchases"
        ],
        "summary": "Verify crypto payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": {
                    "type": "string"
                  },
                  "transactionHash": {
                    "type": "string"
                  },
                  "chain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ verified, status }"
          }
        }
      }
    },
    "/api/checkout/dsports-cash": {
      "post": {
        "tags": [
          "Checkout",
          "Commerce and purchases"
        ],
        "summary": "Checkout with D-Sports Cash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemId": {
                    "type": "string"
                  },
                  "itemType": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "cartItems": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ paymentId, remainingBalance }"
          }
        }
      }
    },
    "/api/config/sports": {
      "get": {
        "tags": [
          "Config",
          "Teams"
        ],
        "summary": "List sports and leagues catalog",
        "description": "Public catalog derived from League.sport. { sports: [{ id, label, order, leagues: [{ id, label, order }] }] }. Auth optional.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/crypto-prices": {
      "get": {
        "tags": [
          "Misc",
          "Wallet and web3"
        ],
        "summary": "Crypto prices",
        "security": [],
        "responses": {
          "200": {
            "description": "Crypto prices"
          }
        }
      }
    },
    "/api/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard (public)",
        "security": [],
        "responses": {
          "200": {
            "description": "{ message }"
          }
        }
      },
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard (auth check)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ userId, isAuthenticated }"
          }
        }
      }
    },
    "/api/dashboard/balance": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard balance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Balance"
          }
        }
      }
    },
    "/api/dashboard/quests": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard quests",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Quests"
          }
        }
      }
    },
    "/api/dashboard/stats": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard stats",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard stats"
          }
        }
      }
    },
    "/api/discovery/fans": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Discover fans",
        "description": "Authenticated suggested fans (excludes already-following). Query: cursor, limit.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/discovery/teams": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Discover teams",
        "description": "Public suggested / official teams. Query: limit.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/dsports-cash": {
      "get": {
        "tags": [
          "D-Sports Cash",
          "Commerce and purchases"
        ],
        "summary": "Get D-Sports Cash balance",
        "description": "Query: userId (admin impersonation).",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ dsportsCash }"
          }
        }
      }
    },
    "/api/events/realtime": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Discover Game Center Realtime Broadcast",
        "description": "Public. Returns supabase URL, anon key, and the private channel template `events:{gameId}`. Subscribe with the anon key; only the API service role may broadcast. Polling/ETag/afterId remain the hydrate + reconnect path.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data: { enabled, url, anonKey, channelPrefix, channelForGame, private, events, note } }"
          }
        }
      }
    },
    "/api/events/schedule": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List game schedule",
        "description": "Public schedule. Repeatable teamId query param. Used by the locker-room hero strip.",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Repeatable. Fan out per followed/joined team."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get game event",
        "description": "Public Game Center detail for one event. Includes a `realtime` pointer `{ channel, events }` (no anon key). Discover URL/anon key via GET /api/events/realtime.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}/chat": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List game chat",
        "description": "Game-thread messages, hasMore, and onlineCount. Each message includes authorId (User.id or null) so mute/block can persist server-side, and side (home/away/null) server-stamped per fixture from the two clubs' Club Rep top-100 leaderboards — null renders as Spectator; dual-membership ties break on the author's favorite team(s).",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Send game chat message",
        "description": "Authenticated message in the game thread. The created message includes authorId and the server-stamped side (home/away/null) like GET.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}/chat/mute": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Mute game chat",
        "description": "Authenticated mute of a userId or the whole thread (thread:true). The two options are mutually exclusive.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Unmute game chat",
        "description": "Authenticated unmute. Same body rules as POST.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}/lineup": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get game lineup",
        "description": "Public home/away starters and bench. Slots include playerKey, playerId (stable roster id when linked; null for call-ups/opponent squads — keep the normalised-name fallback), position, jersey, unit, isStarter.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}/live-activity": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Register a Team HQ Live Activity",
        "description": "Authenticated. Registers routing/audience data for an iOS Lock Screen / Dynamic Island match card, keyed per user + fixture + club. Requires UserSettings.liveScoreUpdates consent (403 FORBIDDEN otherwise). `activityId` is minted server-side and returned; the client enters it via OneSignal.LiveActivities.enter. `pushToken` is accepted and persisted but inert today — it exists only for a possible future direct-APNs migration and is never read by dispatch. Android (#697) returns success-nothing-to-register (`{ registered: true, platform: \"android\", activityId: null, expiresAt: null }`, no row written) after the same game/team/consent checks — Android Live Updates ride ordinary push subscriptions (OneSignal Create-message + NotificationServiceExtension) and need no registration.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Registered (iOS), or success-nothing-to-register (Android, platform android + null activityId/expiresAt, no row written)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "description": "iOS registration",
                          "properties": {
                            "registered": {
                              "type": "boolean",
                              "enum": [
                                true
                              ]
                            },
                            "activityId": {
                              "type": "string",
                              "example": "hq:hockey-9001:bos:user_1",
                              "description": "Per-user (#558): hq:{gameEventId}:{teamId}:{userId}. Minted server-side; pass it verbatim to OneSignal.LiveActivities.enter."
                            },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "registered",
                            "activityId",
                            "expiresAt"
                          ]
                        },
                        {
                          "type": "object",
                          "description": "Android success-nothing-to-register (#697): no row written",
                          "properties": {
                            "registered": {
                              "type": "boolean",
                              "enum": [
                                true
                              ]
                            },
                            "platform": {
                              "type": "string",
                              "enum": [
                                "android"
                              ]
                            },
                            "activityId": {
                              "type": "null"
                            },
                            "expiresAt": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "registered",
                            "platform",
                            "activityId",
                            "expiresAt"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — teamId missing, or not one of the fixture's two clubs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — no valid Clerk session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — UserSettings.liveScoreUpdates is not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — no such fixture",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "teamId"
                ],
                "properties": {
                  "teamId": {
                    "type": "string",
                    "description": "Must be the fixture's homeTeamId or awayTeamId. Decides the card theme and the minted activityId."
                  },
                  "platform": {
                    "type": "string",
                    "default": "ios",
                    "description": "ios writes a LiveActivityRegistration row and returns activityId/expiresAt. android returns 200 success-nothing-to-register (platform android, null activityId/expiresAt, no row written) after the same game/team/consent checks — Android Live Updates ride ordinary push subscriptions and need no registration. Any other value is 400 VALIDATION_ERROR."
                  },
                  "pushToken": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Accepted and persisted but INERT — never read by dispatch. Exists only for a possible future direct-APNs migration."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "End a Team HQ Live Activity registration",
        "description": "Authenticated and idempotent. Matches by activityId or pushToken (either optional; omitting both ends every active registration the caller holds for this fixture). Always returns { registered: false }.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Idempotent — always reports registered: false",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "registered": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        }
                      },
                      "required": [
                        "registered"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — no valid Clerk session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Both fields optional. Omitting both ends every active registration the caller holds for this fixture.",
                "properties": {
                  "activityId": {
                    "type": "string"
                  },
                  "pushToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{gameId}/plays": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get play-by-play",
        "description": "Public play events for the game.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}/presence": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get game presence count",
        "description": "Public online viewer count.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Heartbeat game presence",
        "description": "Authenticated presence heartbeat. Returns { ok, count }.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/events/{gameId}/ratings": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get game ratings",
        "description": "Lineup plus community averages and the viewer's ratings. data.lineupAvailable reports whether any lineup slots exist — vendor-synced hockey finals seed their lineup on read (#672), so a final with an upstream roster returns slots here instead of an empty lineup.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Submit game ratings",
        "description": "Authenticated ratings submit. Server may award Club Rep. Do not call /v1/engage/rep/earn for this. Requires at least one lineup slot — finals whose vendor roster could not be seeded return 409 LINEUP_UNAVAILABLE.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data: { saved, allStartersRated, repEarned } }"
          },
          "400": {
            "description": "VALIDATION_ERROR — ratings array is required, or a playerKey/score is invalid"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "NOT_FOUND — unknown game"
          },
          "409": {
            "description": "CONFLICT — ratings window is closed; LINEUP_UNAVAILABLE — no lineup rows to rate"
          }
        }
      }
    },
    "/api/events/{gameId}/stats": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get game box score",
        "description": "Public team stat rows for the event.",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/feed/signals": {
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Ingest behavioural feed signals",
        "description": "Authenticated. When UserSettings.analyticsPersonalization is false (#614), the payload is dropped at this endpoint and never persisted. Opted-in bodies are validated (zod) and stored as FeedSignal rows (#685): at most 50 events per request plus a 64KB body ceiling enforced before JSON parsing; unknown kind/filter rejected per event; dwellMs must be a finite positive number (booleans/numeric strings rejected), minimum normalized 1, clamped to 60s; opted-in writes are capped at 30 batches/min/user (429 RATE_LIMITED); client `at` clamped into the previous 24 hours ending at createdAt (future pinned to now). `accepted` counts the rows that survived validation (0 on the opt-out path). Rows older than FEED_SIGNAL_RETENTION_DAYS (default 90) are hard-deleted by the daily /api/cron/feed-signal-retention cron.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data: { ingested: boolean, accepted: number } }"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "413": {
            "description": "Body exceeds the 64KB ingest ceiling (PAYLOAD_TOO_LARGE)"
          },
          "429": {
            "description": "Per-user batch rate limit exceeded (RATE_LIMITED)"
          }
        }
      }
    },
    "/api/feedback/bug-report": {
      "post": {
        "tags": [
          "Misc",
          "Moderation and reporting"
        ],
        "summary": "Submit bug report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "{ success }"
          }
        }
      }
    },
    "/api/feedback/native-crash": {
      "post": {
        "tags": [
          "Misc",
          "Moderation and reporting"
        ],
        "summary": "Submit native crash report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "{ success }"
          }
        }
      }
    },
    "/api/games/catalog": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Public team mini-game catalog",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamSlug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ daily, weekly } PublicCatalogGame[]"
          },
          "400": {
            "description": "teamId or teamSlug required"
          },
          "404": {
            "description": "Team not found"
          }
        }
      }
    },
    "/api/games/daily-spin/config": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Public daily-spin wheel layout",
        "description": "Clients animate from this. Outcomes come from POST /api/games/daily-spin/spin.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ segments, limits }"
          },
          "503": {
            "description": "SPIN_NOT_CONFIGURED"
          }
        }
      }
    },
    "/api/games/daily-spin/spin": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Server-authoritative daily spin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamId": {
                    "type": "string"
                  },
                  "leaderboardId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ segment, awards }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          }
        }
      }
    },
    "/api/games/daily-spin/state": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Authenticated daily-spin progress",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ spins remaining, weekly collection }"
          },
          "401": {
            "description": "UNAUTHORIZED"
          }
        }
      }
    },
    "/api/games/guess-player/players": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Search Guess the Player roster",
        "description": "Autocomplete over seeded Player rows. Empty q returns an empty players list.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ query, players[] }"
          },
          "401": {
            "description": "UNAUTHORIZED"
          }
        }
      }
    },
    "/api/games/guess-player/session/guess": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Submit a Guess the Player guess",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId",
                  "guess"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "guess": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ correct, remaining }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          }
        }
      }
    },
    "/api/games/guess-player/session/invalidate": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Invalidate a Guess the Player session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId",
                  "reason"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 80
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ found, status, remainingGuesses }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "404": {
            "description": "NOT_FOUND"
          }
        }
      }
    },
    "/api/games/guess-player/session/start": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Start a Guess the Player session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ session }"
          },
          "401": {
            "description": "UNAUTHORIZED"
          }
        }
      }
    },
    "/api/games/live/active": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Active live game for a team",
        "security": [],
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "session or null"
          },
          "400": {
            "description": "teamId required"
          }
        }
      }
    },
    "/api/games/live/by-code/{code}": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Look up a live game by join code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "session"
          },
          "400": {
            "description": "code required"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "404": {
            "description": "NOT_FOUND"
          }
        }
      }
    },
    "/api/games/live/join": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Join a live game by code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ session, participant }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "404": {
            "description": "NOT_FOUND"
          },
          "409": {
            "description": "CONFLICT"
          }
        }
      }
    },
    "/api/games/live/start": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Start a live game (team manager)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "teamId",
                  "gameKey",
                  "title",
                  "prizeTiers"
                ],
                "properties": {
                  "teamId": {
                    "type": "string"
                  },
                  "gameKey": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "prizeTiers": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "session"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "403": {
            "description": "FORBIDDEN"
          },
          "409": {
            "description": "CONFLICT"
          }
        }
      }
    },
    "/api/games/live/{sessionId}/end": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "End a live game (team manager)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "teamId"
                ],
                "properties": {
                  "teamId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ session }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "403": {
            "description": "FORBIDDEN"
          },
          "404": {
            "description": "NOT_FOUND"
          }
        }
      }
    },
    "/api/games/live/{sessionId}/leaderboard": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Live game leaderboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ entries[] }"
          },
          "400": {
            "description": "sessionId required"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "404": {
            "description": "NOT_FOUND"
          }
        }
      }
    },
    "/api/games/live/{sessionId}/score": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Submit a live-game score delta",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "delta"
                ],
                "properties": {
                  "delta": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ score }"
          },
          "400": {
            "description": "VALIDATION_ERROR"
          },
          "401": {
            "description": "UNAUTHORIZED"
          },
          "403": {
            "description": "FORBIDDEN"
          },
          "404": {
            "description": "NOT_FOUND"
          },
          "409": {
            "description": "CONFLICT"
          }
        }
      }
    },
    "/api/games/pick-em/players": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Legacy Pick'em player list",
        "description": "Leftover roster helper. Engine Pick'em does not use this path.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ players[] }"
          },
          "401": {
            "description": "UNAUTHORIZED"
          }
        }
      }
    },
    "/api/image-proxy": {
      "get": {
        "tags": [
          "Misc",
          "Platform and infrastructure"
        ],
        "summary": "Image proxy",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Proxied image"
          }
        }
      }
    },
    "/api/leaderboard": {
      "get": {
        "tags": [
          "Leaderboard",
          "Gamification"
        ],
        "summary": "Get leaderboard",
        "description": "Returns leaderboard entries. Query: leaderboardId (number) or teamId (string); omit for global. The global / D-Sports board ranks each fan's total Fan Rep (same as profile fanRep: lifetime PointsHistory + typed Rep ledger), not a separate seasonal pool. Club team boards remain seasonal.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ leaderboard, leaderboardEntries, currentUserId, season }"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Leaderboard or user not found"
          }
        }
      }
    },
    "/api/leaderboard/search": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Search leaderboard players",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ players, total, page, limit, totalPages }"
          }
        }
      }
    },
    "/api/leaderboard/seasons": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "List seasons",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ seasons, current }"
          }
        }
      }
    },
    "/api/leaderboard/stats": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Leaderboard stats",
        "description": "Total users, total points, last winner.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ totalUsers, totalPoints, lastWinner }"
          }
        }
      }
    },
    "/api/leaderboard/stream": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Leaderboard SSE stream",
        "description": "Server-sent events stream. Query: leaderboardId.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream"
          }
        }
      }
    },
    "/api/leaderboard/winners": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Get winners",
        "parameters": [
          {
            "name": "seasonId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ winners }"
          }
        }
      }
    },
    "/api/leagues": {
      "get": {
        "tags": [
          "Leagues",
          "Teams"
        ],
        "summary": "List leagues",
        "description": "League metadata, colors, and logo branding used by clients.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/leagues/{leagueId}/standings": {
      "get": {
        "tags": [
          "Leagues"
        ],
        "summary": "Get league standings",
        "description": "HQ Standings tab. Public. rows is one team each (division, else conference, else league). Empty duplicate groupings are dropped. tables lists every remaining scope. Prefer unique vendor rank inside a table; otherwise points, wins, then goal difference. tiebreakRules names that fallback only. 404 if the league id/slug is missing. Empty rows when the league cannot be scored honestly.",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "description": "Prisma League.id or slug (not the vendor NHL id).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data: { rows, tiebreakRules, tables } }"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/api/locker-room": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "Get locker room posts",
        "description": "Page mode (default): `page` + `hasMore`. Cursor mode (DSE-369): pass opaque `cursor` from a prior `nextCursor`; response includes `nextCursor` (`null` at end). Both modes return `nextCursor` (#689) — a page-1 request has no cursor to send, so page mode is where a client obtains its first one; the only exception is a viewer whose filter was remapped by #614, where a cursor would 400 on the next request and is withheld. Invalid cursor → 400 (decoded against the request filter before any #614 remap). Cursors are scope-keyed (#660): a cursor issued for one `teamId` / `phase` / `postType` / `authorTeamId` / `authorId` / `includeDemo=false` scope 400s when resumed under another scope — always restart from page 1 when the scope changes. Filters: trending|latest|following|foryou. `teamId` narrows to the per-team feed (about-tagged OR authored-as for that team); `authorTeamId` narrows to officially-as-team posts; both compose with `following` as AND. NULL-matches-any: rows with unset `channel` / `teamId` match any `phase` / `teamId` filter, so untagged posts stay in scoped feeds. When the viewer has UserSettings.analyticsPersonalization=false (#614), trending/foryou are served chronological (`latest` order) and a *valid* ranked cursor is dropped after that 400-check. Ranked filters (trending/foryou) additionally carry `rank` (absolute 0-based position, continuing across pages) and `reason` ({ code, label?, subjectId? }) per post, plus `rankVersion` on the envelope (#686) — chronological filters and opted-out viewers carry none of the three. `ads` is `[]` only when inventory is switched off; an opted-out viewer takes the contextual fill path (#687).",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous nextCursor. When set, takes precedence over page. Invalid, or issued for a different filter/scope (teamId/phase/postType/authorTeamId/authorId/includeDemo) → 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "trending",
                "latest",
                "following",
                "foryou"
              ]
            }
          },
          {
            "name": "includeDemo",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "authorId",
            "in": "query",
            "description": "When set, only return posts by this author",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorTeamId",
            "in": "query",
            "description": "When set, only return posts authored officially by this team",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "Per-team feed scope: posts about-tagged with this team, posts authored as this team, plus untagged (NULL teamId) posts per the NULL-matches-any rule. Composes with following as AND.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phase",
            "in": "query",
            "description": "Game-phase scope (pre|live|post), matched against the post channel. Unset channel matches any phase per the NULL-matches-any rule. Unknown values are ignored.",
            "schema": {
              "type": "string",
              "enum": [
                "pre",
                "live",
                "post"
              ]
            }
          },
          {
            "name": "postType",
            "in": "query",
            "description": "Post-type filter (standard|hottake). hottake matches posts with isHotTake or postType=hottake; standard excludes them. Unknown values are ignored.",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "hottake"
              ]
            }
          }
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data: { posts, hasMore, nextCursor?, rankVersion? } } — posts on ranked filters also carry `rank` and `reason` (#686)"
          },
          "400": {
            "description": "Invalid cursor — malformed, filter mismatch, or scope mismatch (teamId/phase/postType/authorTeamId/authorId/includeDemo changed between pages). Restart from page 1. A cursor whose anchor post was deleted or aged out of the ranking window is NOT a 400: the ranked filters resume from the anchor's own sort position instead. (VALIDATION_ERROR)"
          }
        }
      },
      "post": {
        "tags": [
          "Locker room"
        ],
        "summary": "Create locker room post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "teamId": {
                    "type": "string",
                    "description": "About-tag team"
                  },
                  "authorTeamId": {
                    "type": "string",
                    "description": "Post-as-team identity"
                  },
                  "postAsTeamId": {
                    "type": "string",
                    "description": "Native alias for authorTeamId"
                  },
                  "scheduledFor": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Scheduled publish date (ISO 8601)"
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "poll": {
                    "type": "object"
                  },
                  "collectible": {
                    "type": "object"
                  },
                  "lineup": {
                    "type": "object",
                    "description": "Formation builder attachment",
                    "properties": {
                      "presetKey": {
                        "type": "string"
                      },
                      "assignments": {
                        "type": "object"
                      },
                      "faces": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          },
          "400": {
            "description": "Content is required"
          },
          "403": {
            "description": "UGC terms not accepted. Envelope: { success: false, code: UGC_TERMS_REQUIRED, error }. Native composers reopen the terms modal on this code."
          }
        },
        "description": "Create a post. content may be empty when media, poll, collectible, or lineup is present. teamId is the about-tag. authorTeamId / postAsTeamId is who the post is authored as (403 if unauthorized). lineup is persisted: { presetKey, assignments, faces }. Rejects with UGC_TERMS_REQUIRED when the caller's ugcTermsVersion is missing or not equal to the current Terms of Use version."
      }
    },
    "/api/locker-room/comments/{commentId}/like": {
      "post": {
        "tags": [
          "Locker room"
        ],
        "summary": "Toggle comment like",
        "description": "Authenticated like toggle on a locker-room comment.",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/locker-room/hot-takes": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "List hot takes",
        "description": "Public-ish locker-room hot-take cards for discovery surfaces.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/locker-room/posts/draft": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "Get locker room draft",
        "description": "Authenticated composer draft. 404 if none exists.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          },
          "404": {
            "description": "No draft"
          }
        }
      },
      "put": {
        "tags": [
          "Locker room"
        ],
        "summary": "Upsert locker room draft",
        "description": "Body may include content, privacy, media, poll, collectible, channel. Returns { id, updatedAt }.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "delete": {
        "tags": [
          "Locker room"
        ],
        "summary": "Delete locker room draft",
        "description": "204 even if no draft existed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted or already absent"
          }
        }
      }
    },
    "/api/locker-room/stream": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "Locker room SSE stream",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream"
          }
        }
      }
    },
    "/api/locker-room/{id}": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "Get a single locker room post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          },
          "404": {
            "description": "Post not found"
          }
        }
      },
      "put": {
        "tags": [
          "Locker room"
        ],
        "summary": "Update locker room post content",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data: { id, content, updatedAt } }"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not post owner"
          },
          "404": {
            "description": "Post not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Locker room"
        ],
        "summary": "Delete locker room post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data: { ok: true } }"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not post owner"
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/locker-room/{id}/comments": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "Get post comments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "post": {
        "tags": [
          "Locker room"
        ],
        "summary": "Add comment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "parentId": {
                    "type": "string",
                    "description": "Parent comment id for nested replies"
                  },
                  "mentionedUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          },
          "403": {
            "description": "UGC terms not accepted. Envelope: { success: false, code: UGC_TERMS_REQUIRED, error }. Native composers reopen the terms modal on this code."
          }
        },
        "description": "Add a comment (or reply via parentId). Body accepts optional mentionedUserIds; responses echo mentions[] per resolved target. Rejects with UGC_TERMS_REQUIRED when the caller's ugcTermsVersion is missing or not equal to the current Terms of Use version."
      }
    },
    "/api/locker-room/{id}/like": {
      "post": {
        "tags": [
          "Locker room"
        ],
        "summary": "Toggle post like",
        "description": "Additive like toggle. Does not replace /react. Returns { liked, likeCount }.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/locker-room/{id}/poll/vote": {
      "post": {
        "tags": [
          "Locker room"
        ],
        "summary": "Vote on a post poll",
        "description": "Authenticated poll vote for the post.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/locker-room/{id}/react": {
      "get": {
        "tags": [
          "Locker room"
        ],
        "summary": "Get reactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      },
      "post": {
        "tags": [
          "Locker room"
        ],
        "summary": "Add reaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/logout": {
      "get": {
        "tags": [
          "Logout"
        ],
        "summary": "Logout (redirect)",
        "description": "Redirects to login.",
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to /login"
          }
        }
      },
      "post": {
        "tags": [
          "Logout"
        ],
        "summary": "Logout",
        "description": "Signs out the user.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ success: true }"
          }
        }
      }
    },
    "/api/mobile/callback": {
      "get": {
        "tags": [
          "Mobile auth"
        ],
        "summary": "Mobile OAuth callback",
        "description": "Callback with redirect_uri. Returns token or error in redirect.",
        "parameters": [
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect with token or error"
          }
        }
      }
    },
    "/api/mobile/exchange": {
      "post": {
        "tags": [
          "Mobile auth"
        ],
        "summary": "Exchange mobile session token for Clerk ticket",
        "description": "One-time redeem of a Prisma MobileSession hex token (body `{ token }` or Authorization Bearer) for a Clerk sign-in ticket. No Clerk session required. Consumes the mobile session.",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{128}$",
                    "description": "64-byte mobile session token as 128 hex chars"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ success: true, data: { ticket, expiresAt } }"
          },
          "400": {
            "description": "{ success: false, code: VALIDATION_ERROR }"
          },
          "401": {
            "description": "{ success: false, code: UNAUTHORIZED }"
          },
          "500": {
            "description": "{ success: false, code: INTERNAL_ERROR }"
          }
        }
      }
    },
    "/api/mobile/start": {
      "get": {
        "tags": [
          "Mobile auth"
        ],
        "summary": "Start mobile OAuth",
        "description": "Redirects to mobile auth. Query: provider, redirect_uri.",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to /mobile-auth"
          }
        }
      }
    },
    "/api/mobile/verify": {
      "get": {
        "tags": [
          "Mobile auth"
        ],
        "summary": "Verify mobile token",
        "description": "Verifies Bearer token from native app.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, user }"
          }
        }
      }
    },
    "/api/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List notifications",
        "description": "Authenticated inbox. Query: page, limit (max 100), status (ALL | UNREAD | READ | ARCHIVED). Includes GAME_ALERT and RATING types.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ALL | UNREAD | READ | ARCHIVED"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/notifications/read-all": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark all notifications read",
        "description": "Authenticated mark-all-read.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/notifications/{notificationId}/archive": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Archive notification",
        "description": "Authenticated single-item archive.",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/notifications/{notificationId}/read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark notification read",
        "description": "Authenticated single-item read.",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ success, data }"
          }
        }
      }
    },
    "/api/packs": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "List active packs",
        "security": [],
        "responses": {
          "200": {
            "description": "{ packs }"
          }
        }
      }
    },
    "/api/packs/{id}": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "Get pack by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Pack object"
[...]
